/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --Inter: "Inter-Variable", monospace;
  --PressStart: "PressStart2P", monospace;
  --bg-color: rgb(255, 255, 255);
  --font-color: rgb(0, 0, 0);
  --bg-image: url(../svg/background.svg);
}
